*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    /* Remove margem padrão do body */
}

.main-content {
    margin: 0 10px;
    /* Adiciona margem lateral em dispositivos móveis */
}

html {
    scroll-behavior: smooth;
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
}

.cards :nth-child(2){
    transition-delay: 600ms;
}

.cards :nth-child(3){
    transition-delay: 900ms;
}

/* navbar */

@media (max-width: 576px) {
    .navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 10px;
        gap: 10px;
        z-index: 1;
    }

    .navbar-toggler {
        margin-left: auto;
    }
}

@media (max-width: 576px) {
    .logo {
        margin: 0 10px;
        /* Ajusta margem lateral do logo */
    }

    .navbar-nav {
        padding: 0 10px;
        /* Adiciona padding nas laterais da navbar */
    }
}

.custom-navbar {
    background-color: #adb5bd3a;
    height: 75px;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar-nav {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    flex: 1;
}

.nav-link {
    text-align: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 10%;
    margin-right: 36%;
}

.navbar-collapse {
    text-align: right;
    z-index: 100;
}

/* banner */

@media (max-width: 576px) {
    .banner {
        margin: 0;
        /* Remove margem no banner em dispositivos móveis */
    }

    .banner img {
        width: 100px;
        /* Ajusta o tamanho da imagem do banner */
        height: auto;
        /* Ajusta a altura automaticamente */
    }
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 250px;
    gap: 20px;
}

.banner img {
    width: 150px;
    height: 150px;
}

.banner-text {
    color: black;
    font-family: "Graduate", monospace;
}

#titulo {
    font-size: 50px;
}

#slogan {
    font-size: 25px;
}

/* Quem somos?*/

@media (max-width: 576px) {
    .quem-somos {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

}

@media (max-width: 768px) {
    .quem-somos {
        padding: 0 10px;
        /* Adiciona padding lateral na seção Quem Somos */
    }

    .conteudo-quem-somos {
        padding: 0 10px;
        /* Adiciona padding lateral ao conteúdo Quem Somos */
    }
}

.quem-somos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 60px;
    padding: 100px 0;
    margin-top: -150px;
}

.conteudo-quem-somos {
    display: grid;
    gap: 20px;
    max-width: 500px;
}

.conteudo-item {
    font-family: "Merriweather", serif;
    font-size: 21px;
    font-style: italic;
    line-height: 1.5;
}


/* serviços */

@media (max-width: 576px) {
    .servicos-container {
        padding: 0 10px;
        /* Adiciona padding lateral na seção Serviços */
    }
}

.servicos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    padding: 50px 0;
    margin-top: -40px;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
}

.card {
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.topicos {
    font-family: "Graduate", monospace;
    font-size: 40px;

}

.card-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

/* From Uiverse.io by Madflows */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 15px;
}

button.learn-more {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #fff0f0;
    border: 2px solid #b18597;
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c4d2;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more:hover {
    background: #ffe9e9;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
}

button.learn-more:hover::before {
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}

button.learn-more:active {
    background: #ffe9e9;
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
}

button.learn-more:active::before {
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
}

/* Contato */

@media (max-width: 576px) {
    .contato-container {
        padding: 0 10px;
        /* Adiciona padding lateral na seção Contato */
    }
}

/* From Uiverse.io by andrew-demchenk0 */
.wrapper {
    --font-color-dark: #323232;
    --font-color-light: #FFF;
    --bg-color: #fff;
    --main-color: #323232;
    position: relative;
    width: 375px;
    height: 66px;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 66px;
    display: flex;
    flex-direction: row;
    box-shadow: 6px 6px var(--main-color);
    margin-bottom: 30px;
}

.text-box {
    clear: both;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.479);
    color: var(--font-color-dark);
    font-size: 1.1em;
    margin-top: 15px;
    max-width: 375px;
    display: none;
}

.option {
    width: 150px;
    height: 42px;
    position: relative;
    top: 10px;
    left: 10px;

}

.input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    appearance: none;
    cursor: pointer;
}

.btn {
    width: 100px;
    height: 40px;
    background-color: var(--bg-color);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span {
    color: var(--font-color-dark);
    font-size: 1.2em;
}

.input:checked+.btn {
    background-color: var(--main-color);
}

.input:checked+.btn .span {
    color: var(--font-color-light);
}

.contato-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-items: center;
    align-items: center;
    gap: 90px;
    padding-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -50px;
    margin-bottom: 100px;
}

#contato {
    display: grid;
    place-items: center;
}

#text-box a {
    text-decoration: none;
    color: inherit;
}

/* Rodapé */

@media (max-width: 576px) {
    footer {
        padding: 20px 10px;
        /* Ajusta padding do rodapé em dispositivos móveis */
    }

    .footer-container {
        padding: 0 10px;
        /* Adiciona padding lateral no rodapé */
    }
}

footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    margin-top: 120px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section p,
.footer-section ul {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 25px;
    height: 25px;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    background-color: #222;
    margin-top: 20px;
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
}

.text-link {
    color: white;
    text-decoration: none;
    display: flex;
}


/* Media Queries */
@media (max-width: 992px) {
    .quem-somos {
        margin-left: 10%;
        margin-right: 10%;
        grid-template-columns: 1fr;
        text-align: center;
        align-items: center;
    }

    .logo {
        margin-left: 20px;
        margin-right: 20px;
    }

    .navbar-nav {
        gap: 30px;
    }

    .cards-container {
        flex-direction: column;
        gap: 30px;
    }

    .contato-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    body {
        margin: 10px;
    }
    
    .quem-somos {
        margin-left: 5%;
        margin-right: 5%;
    }

    .topicos {
        font-size: 32px;
    }

    .card-title {
        font-size: 20px;
    }

    .informacao-contato {
        font-size: 20px;
    }
}

@media (max-width: 576px) {

    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    .quem-somos {
        margin: 2%;
        gap: 40px;
    }

    .img-thumbnail {
        width: 150px;
        height: 150px;
    }

    .card {
        width: 18rem;
        display: grid;
        place-items: center;
    }

    .topicos {
        font-size: 28px;
    }

    .card-title {
        font-size: 18px;
    }

    .informacao-contato {
        font-size: 18px;
    }

    footer {
        padding: 20px 0;
    }

    .footer-section h3 {
        font-size: 16px;
    }

    .footer-section p,
    .footer-section ul {
        font-size: 12px;
    }

    .contato-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .contato {
        flex-direction: column;
        align-items: center;
    }

    .informacao-contato {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Centraliza os cards horizontalmente */
        gap: 20px;
    }

    .card {
        width: 90vw;
        /* Define a largura dos cards para 90% da largura da viewport */
        max-width: 500px;
        /* Define uma largura máxima para evitar que os cards sejam muito largos em telas grandes */
        margin: 0 auto;
        /* Centraliza os cards horizontalmente */
    }
}

@media (max-width: 576px) {
    .quem-somos {
        margin-top: 20px;
        /* Ajuste o valor conforme necessário */
    }
}